# Vivado / generated
*.log
*.jou
*.str
.Xil/
*.cache/
*.gen/
*.runs/
*.sim/
*.hw/
*.ip_user_files/
RemoteSystemsTempFiles/

# MicroBlaze / BSP
bsp/
libsrc/
standalone_*/
microblaze_0/
export/
tempdsa/

# macOS
.DS_Store